body{
  font-family: 'Avenir Next', sans-serif;
  background: #191D21;
  font-weight: 300;
  font-size: 14px;
  padding: 20px;
   }

 .masonryholder{
   column-count: 3;
   column-gap: 30px;
   max-width: 708px;
   margin: 0 auto;
   margin-left: 350px;
   margin-top: 0px;
  
   }
   .junglebird{
   background: #ebeded;
   padding: 10px;
   margin: 0 0 10px;
   height: 200px;
   width: 300px;
   border-radius: 5px;
   

   }

 .masonryblocks{
   display: inline-block;
   background: #ebeded;
   padding: 10px;
   margin: 0 0 10px;
   width:100%;
   box-sizing: border-box;
   border-radius: 5px;
  
  
   

   }

 .masonryblocks img{
   width: 100%;
   
   }



   /*......................................................................................*/

    .masonryblocks:nth-child(3n+1){height: 250px;}
    .masonryblocks:nth-child(3n+2){height: 200px;}
    .masonryblocks:nth-child(3n+3){height: 300px;}
    .masonryblocks:nth-child(3n+4){height: 200px;}
    .masonryblocks:nth-child(3n+5){height: 190px;}
    .masonryblocks:nth-child(3n+6){height: 260px;}
    .masonryblocks:nth-child(3n+7){height: 250px;}
    .masonryblocks:nth-child(3n+8){height: 280px;}
    .masonryblocks:nth-child(3n+9){height: 370px;}
    .masonryblocks:nth-child(3n+10){height:200px;}


   @media (min-width:480px){
    
     .junglebird{
       margin-left: 110px;
       width: 220px;
       height: 150px;

     }
     .masonryholder{
       margin-left: 50px;
       column-count: 2;
     }
    }
   @media (min-width:800px){
     .main{
       display:flex;
       column-count: 4;
     
     }
     .junglebird{
       align-self: flex-start;
       margin-left: 10px;
       height: 300px;
     }
     .masonryholder{
       widows: 1200px;
       column-count:3 ;
     }
   }
  
  
    /* @media (max-width:480px){

   .main{
     display: flex;
     flex-direction: columns;
         
   }
   .junglebird{
     align-self:start;
     font-size: xx-small;
   }
   .masonryblocks{
     column-count:2;
     }
   

 @media screen and (max-width:800px){
   .masonryholder{
     column-count: 4;
   }
   }

 /* @media (max-width:1000px){ */
   /* .masonryholder{ */
     /* column-count: 4; */
   /* } */
   /* } */

   